body {
    height: 97.8vh;
    text-align: center;
}

img {
    width: 100%;
}

.dataContainer {
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.location-name,
.aqi {
    margin-top: 1rem;
    font-weight: bold;
    color: rgb(73, 73, 73);
}

.location,
.status {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 #5d5d5d, 1px 1px 2px #5d5d5d;
}

.good .row {
    padding-top: 1rem;
}

.open-search img {
    width: 70%;
}

form {
    margin: 1rem 0 1rem 0;
}

form img {
    width: 1.7rem;
}

form button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

@media only screen and (min-width: 600px) {
    .dataContainer {
        border: 5px solid rgba(54, 54, 54, 0.568);
        padding: .5rem;
        border-radius: 1rem;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.445);
        -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.445);
        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.445);
    }
}
